<!DOCTYPE html>
<!--[if lte IE 6]><html class="preIE7 preIE8 preIE9"><![endif]-->
<!--[if IE 7]><html class="preIE8 preIE9"><![endif]-->
<!--[if IE 8]><html class="preIE9"><![endif]-->
<!--[if gte IE 9]><!-->
<html>
<!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sortable Table with Static Headers</title>

    <!--Framework Imports-->
    <script src="./js/jquery/jquery-1.9.1.min.js"></script>
    <script src="./js/angular/angular.min.js"></script>

    <!--Our Custom CSS-->
    <link rel="stylesheet" type="text/css" href="./css/sortable.table.component.css">

    <!--Our Javascript files-->
    <script src="./controllers/sortable.table.component.js"></script>

</head>

<body ng-app="SortableTable">
    <div id="container">
        <div ng-controller="sortableTableController">
            <div id="tableHead">
                <table>
                    <thead>
                        <tr>
                            <th id="name">
                                Name
                                <span ng-hide="name.asc">
                                    <button class="arrowButton" ng-click="sortByHeader('name')">
                                        <svg fill="#f44336" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"/>
                                            <path d="M0 0h24v24H0z" fill="none"/>
                                        </svg>
                                    </button>
                                </span>
                                <span ng-hide="!name.asc">
                                    <button class="arrowButton" ng-click="sortByHeader('name')">
                                        <svg fill="#f44336" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
                                            <path d="M0-.75h24v24H0z" fill="none"/>
                                        </svg>
                                    </button>
                                </span>
                            </th>
                            <th id="type">
                                Food Group
                                <span ng-hide="type.asc">
                                    <button class="arrowButton" ng-click="sortByHeader('type')">
                                        <svg fill="#f44336" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"/>
                                            <path d="M0 0h24v24H0z" fill="none"/>
                                        </svg>
                                    </button>
                                </span>
                                <span ng-hide="!type.asc">
                                    <button class="arrowButton" ng-click="sortByHeader('type')">
                                        <svg fill="#f44336" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
                                            <path d="M0-.75h24v24H0z" fill="none"/>
                                        </svg>
                                    </button>
                                </span>
                            </th>
                            <th id="price">
                                Price per unit
                                <span ng-hide="price.asc">
                                    <button class="arrowButton" ng-click="sortByHeader('price')">
                                        <svg fill="#f44336" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"/>
                                            <path d="M0 0h24v24H0z" fill="none"/>
                                        </svg>
                                    </button>
                                </span>
                                <span ng-hide="!price.asc">
                                    <button class="arrowButton" ng-click="sortByHeader('price')">
                                        <svg fill="#f44336" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
                                            <path d="M0-.75h24v24H0z" fill="none"/>
                                        </svg>
                                    </button>
                                </span>
                            </th>
                            <th id="unit">
                                Unit
                                <span ng-hide="unit.asc">
                                    <button class="arrowButton" ng-click="sortByHeader('unit')">
                                        <svg fill="#f44336" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"/>
                                            <path d="M0 0h24v24H0z" fill="none"/>
                                        </svg>
                                    </button>
                                </span>
                                <span ng-hide="!unit.asc">
                                    <button class="arrowButton" ng-click="sortByHeader('unit')">
                                        <svg fill="#f44336" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
                                            <path d="M0-.75h24v24H0z" fill="none"/>
                                        </svg>
                                    </button>
                                </span>
                            </th>
                            <th id="stock">
                                In Stock
                                <span ng-hide="stock.asc">
                                    <button class="arrowButton" ng-click="sortByHeader('stock')">
                                        <svg fill="#f44336" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"/>
                                            <path d="M0 0h24v24H0z" fill="none"/>
                                        </svg>
                                    </button>
                                </span>
                                <span ng-hide="!stock.asc">
                                    <button class="arrowButton" ng-click="sortByHeader('stock')">
                                        <svg fill="#f44336" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
                                            <path d="M0-.75h24v24H0z" fill="none"/>
                                        </svg>
                                    </button>
                                </span>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div id="tableBody">
                <table>
                    <tbody>
                        <tr ng-repeat="food in foodArray | orderBy: predicate: sortDir" ng-class="{out: food.stock === 0}">
                            <td>{{food.name}}</td>
                            <td>{{food.type}}</td>
                            <td>$ {{food.price}}<input class="priceMargin" type="text" ng-model="nPrice"><input type="button" ng-click="updatePrice(food.name ,nPrice)" value="update"></td>
                            <td>{{food.unit}}</td>
                            <td>{{food.stock}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>
